.text_white {
	color: #fff;
}

.text_blue {
	color: #18cbef;
}

.text_green {
	color: #84fb08;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #f76918;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	bottom: 0;
	height: 27%;
    width: 100%;
    font-family: sans-serif;
	background-image: url("dd.svg");
	background-size: cover;
 	background-repeat: no-repeat;
}

#client_name {
	display: block;
	top: 0;
	padding: 0 10px;
	height: 22%;
	position: absolute;
}

#client_inner_name {
	margin: 0;
	padding: 5% 0;
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 100%;
	margin: auto;
	height: 75%;
	bottom: 0;
	position: absolute;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 3%;
	margin: 0;
}

#client_chatwaiting {
	display: block;
	right: 1em;
	bottom: 0.6em;
	width: 1em;
	position: absolute;
	animation: idling 1s linear infinite;
}

@keyframes idling {
	0% {
		right: 0;
	}

	50% {
		right: 2%;
	}

	100% {
		right: 0;
	}
}

#client_trackstatus {
	display: none;
}