#client_name {
	display: none;
	padding: 0px 6px;
	height: 7%;
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: rgba(73, 0, 254, 0.5);
	top: 63%;
	border-radius: 3px;
	position: absolute;
}

#client_chat {
	font-size: 1em;
	display: none;
	width: 98%;
	width: calc(100% - 4px);
	margin: auto;
	height: 30%;
	border: 2px solid rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.5);
	top: 70%;
	border-radius: 4px;
	position: absolute;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	margin: 4px;
}

#client_chatwaiting {
	display: none;
}