@font-face {
	font-family: 'Cabin Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(https://fonts.gstatic.com/s/cabincondensed/v13/nwpMtK6mNhBK2err_hqkYhHRqmwqZ-LY.woff2) format('woff2');
}

#client_chatcontainer {
	font-family: 'Cabin Condensed', sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 35%;
	width: 100%;
}

#client_name {
	display: block;
	padding: 0px 6px;
	height: 20%;
	min-width: 10%;
	border: 1px solid #a59252;
    background-image: linear-gradient(#635529, #8c7d42);
    left: 2%;
	top: 0;
	border-radius: 3px;
	position: absolute;
	z-index: 1;
}

#client_inner_name {
	margin: 1px;
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 100%;
	margin: auto;
	height: 80%;
	border-image-source: url("dgs_chat_bg.png");
    border-image-slice: 12;
    border-image-width: 12px;
    border-width: 12px;
	bottom: 0;
	position: absolute;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	margin: 6px;
	padding: 6px 20px;
	height: 80%;
	background-color: #101821;
}

#client_chatwaiting {
	display: none;
}