.text_white {
	color: #fff;
}

.text_blue {
	color: #18d7ff;
}

.text_green {
	color: #84fb08;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #ff7118;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

@font-face {
	font-family: 'Cabin Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(https://fonts.gstatic.com/s/cabincondensed/v13/nwpMtK6mNhBK2err_hqkYhHRqmwqZ-LY.woff2) format('woff2');
}

@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7cYxpPDk.woff2) format('woff2');
  }

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 35%;
	width: 100%;
	transition-property: opacity;
	transition: 0.1s linear;
}

#client_name {
	display: block;
	padding: 0px 6px;
	height: 20%;
	min-width: 20%;
	color: #fff7de;
	text-shadow: 0 0 4px #000;
	border: 1px solid #a59252;
    background-image: linear-gradient(#635529, #8c7d42);
    left: 4%;
	top: 0;
	border-radius: 3px;
	position: absolute;
	font-family: "FOT-スキップ Std B", "Bitter", "Times New Roman", sans-serif;
}

#client_inner_name {
	margin: 1px;
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 98%;
	margin: auto;
	height: 80%;
	border-image-source: url("dgs_chat_bg.png");
    border-image-slice: 12 fill;
	border-image-width: 0.8em;
	border-width: 0.8em;
	bottom: 0;
	left: 1%;
	position: absolute;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
	font-family: "FOTToplar", "Cabin Condensed", sans-serif;
}

#client_inner_chat {
	display: block;
	position: absolute;
	margin: 0.4em;
	padding: 0.1em 1em;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	color: #ded7a2;
	right: 0.7em;
	top: 50%;
	line-height: 0.5;
	animation: idling 0.4s linear infinite;
}

@keyframes idling {
	0% {
		right: 0.6em;
	}

	25% {
		right: 0.7em;
    }

	100% {
		right: 0.6em;
	}
}
