.text_white {
	color: #fff;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
    font-family: sans-serif;
}

#client_name {
	display: block;
	padding: 0 0.45em;
	height: 20%;
	width: 87%;
	text-align: left;
    color: #3d3c3f;
    font-weight: bold;
    border-radius: 0 2em 0 0;
    background: #fb9800;
    background: linear-gradient(25deg,
    #f7ffdb, #f7ffdb 60%, 
    #febf01 60% 63%, #fdffd7 63% 65%,
    #fd9900 65%);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

#client_inner_name {
	padding: 0 2%;
	margin: 1px;
}

#client_name::after {
	content: "SPEAKING";
	position: absolute;
	letter-spacing: 0.075em;
	right: 0;
	top: 0;
	z-index: 2;
	margin: 0;
	color: #ffd786;
	transform: scale(50%, 100%)
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 97%;
	margin: auto;
	height: 80%;
    border-radius: 0 3em 3em 0;
	background: rgba(48,48,48,0.8);
	bottom: 0;
	left: 0;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;

	border-top-width: 1.2em;
	border-top-style: solid;
	border-color: #fd9900;
}

#client_inner_chat {
	padding: 2% 4%;
	padding-right: 15%;
	margin: 0;
}

#client_chatwaiting {
	display: block;
	position: absolute;
    color: transparent;
	right: 3%;
	bottom: 30%;
    width: 2em;
    height: 2em;
    background-image: url("chatwaiting_dr1.svg");
    background-size: contain;
}

#client_trackstatus {
	position: absolute;
	right: 4%;
	top: 4%;
	width: 4em;
	height: 1.2em;
	font-family: sans-serif;
	font-weight: bold;
	overflow: hidden;
}

#client_trackstatus::before {
	content: "ùÖ†";
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}

#client_trackstatustext {
	display: inline-block;
	position: absolute;
	left: 20%;
	width: 80%;
	margin: 0;
	overflow: hidden;
	padding-left: 1em;
	letter-spacing: 0.4em;
	white-space: nowrap;
	animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from  { text-indent:  0% }
    to    { text-indent: -125% }
}

#client_trackstatus {
	display: none;
}