#client_chatcontainer {
	position: absolute;
	top: 60%;
	left: 0;
	height: 40%;
	width: 100%;
}

#client_name {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 16%;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	background: rgba(73, 0, 254, 0.5);	
	padding: 0px 6px;
	z-index: 1;
}

#client_chat {
	position: absolute;
	display: none;
	bottom: 0;
	left: 0;
	width: 98%;
	width: calc(100% - 4px);	
	height: 80%;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;		
	font-size: 1em;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	margin: 4px;
}

#client_chatwaiting {
	display: none;
}