.text_white {
	color: #fff;
}

.text_green {
	color: #0f0;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #ffa500;
}

.text_blue {
	color: #4596ff;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

#client_chatcontainer {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	font-family: "FOT-Skip Std", Arial, sans-serif;
	line-height: 1;
}

#client_name {
    transform: rotate(4deg);
	display: block;
	padding: 0 0.45em;
	height: 30%;
	width: 70%;
	text-align: left;
	letter-spacing: 0.075em;
    font-weight: bold;
    color: #512f15;
    background: #fe9e18;
    background: linear-gradient(to right,#feab21, #fc7c00);
    border-top: 0.2em solid #ffeb24;
	left: 4%;
	top: 0;
	position: absolute;
}

#client_inner_name {
    transform: rotate(-4deg);
    position: absolute;
	padding: 1% 3.13%;
    margin: 1px;
    left: -1%;
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 95%;
	margin: auto;
	height: 80%;
    border-right: 0.2em solid #fc7b00;
    border-radius: 0.1em;
	background: linear-gradient(to right,#615338,#917e56 50%,#615338 100%);
	bottom: 2%;
	left: 2.5%;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
    z-index: 1;
}

#client_inner_chat {
	padding: 1.5% 4%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: none;
}