
#client_chatcontainer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	filter: none;
	font-family: "MS PGothic", sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text_white {
	color: #fff;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}



#client_name {
	display: none;
	top: 0;
	left: 0;	
	height: 25%;
	min-width: 10%;
	text-justify: distribute;
	letter-spacing: 0.075em;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fef9ad;
	padding: 0 3%;
    border-style: double;
    border-color: #ffa500;
	position: absolute;
	z-index: 1;
}

#client_chat {
	font-size: 1em;
	display: none;
	bottom: 0;
	width: 99%;
	width: calc(100% - 6px);
	margin: auto;
	height: 70%;
	border-style: double;
    border-color: #ffa500;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	padding: 1% 3.13%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	transform: rotate(90deg);
	left: 50%;
	bottom: 0px;	
	line-height: 0.5;
	animation: idling 1s linear infinite;
}

@keyframes idling {
	0% {
		bottom: 2px;
	}

	50% {
		bottom: 0px;
	}

	100% {
		bottom: 2px;
	}
}