
#client_name {
	display: none;
	padding: 0 0.45em;
	height: 5.2%;
	min-width: 3.25em;
	text-justify: distribute;
	letter-spacing: 0.075em;
	font-weight: bold;
	background-color: black;
	box-shadow: 0.075em 0.075em rgba(0, 56, 163, 0.5) inset;
	left: 0;
	top: 60.4%;
    border-style: double;
    border-color: #ffa500;
	position: absolute;
	z-index: 1;
}

#client_chat {
	font-size: 1em;
	display: none;
	width: 98.4375%;
	width: calc(100% - 0.275em);
	margin: auto;
	height: 31.25%;
	border-style: double;
    border-color: #ffa500;
	background-color: black;
	top: 66.5%;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	padding: 1% 3.13%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: block;
	right: -6px;
	bottom: 0.2em;
	width: 1em;
	position: absolute;
	animation: idling 0.4s linear infinite;
}