
#client_chatcontainer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	filter: none;
	font-family: "MS PGothic", sans-serif;
}

#client_name {
	display: none;
	top: 0;
	left: 0;	
	height: 25%;
	min-width: 3.25em;
	text-justify: distribute;
	letter-spacing: 0.075em;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5 0.5em;
    border-style: double;
    border-color: #ffa500;
	position: absolute;
	z-index: 1;
}

#client_chat {
	font-size: 1em;
	display: none;
	bottom: 0;
	width: 99%;
	width: calc(100% - 6px);
	margin: auto;
	height: 70%;
	border-style: double;
    border-color: #ffa500;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	padding: 1% 3.13%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: block;
	right: -6px;
	bottom: 0.2em;
	width: 1em;
	position: absolute;
	animation: idling 0.4s linear infinite;
}