body {
	font-family: "Igiari", "Ace Attorney", "MS PGothic", "MS UI Gothic", "MS Sans Serif", "Hiragino Maru Gothic Pro", "Mitra Mono", "Mukti Narrow", "Meera", "Khmer OS", "FreeSans", "Gargi" , sans-serif;
}

/* Webfont CSS setup for Igiari by Caveras */

@font-face {
	font-family:'Igiari';
		src:url('igiari/Igiari.eot');
		src:url('igiari/Igiari.eot?#iefix') format('embedded-opentype'),
				url('igiari/Igiari.woff') format('woff'),
				url('igiari/Igiari.ttf') format('truetype'),
				url('igiari/Igiari.svg#Igiari') format('svg');
	font-weight:normal;
	font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'Igiari';
		src: url('igiari/Igiari.svg') format('svg');
		font-weight:normal;
		font-style:normal;
	}
}

img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

hr {
	height: 6px;
	width: 100%;
	background-color: #c6c6c6;
	background: repeating-linear-gradient(to right,#f7f7f7, #f7f7f7 1px, #8c8c8c 1px, #8c8c8c 2px, #c6c6c6 2px, #c6c6c6 16px);
	margin: 0;
}

#evi_name {
	background-color: #393939;
	color: #ffad18;
	border: none;
}

#evi_desc {
	flex: 1 auto;
	border-top: 1px solid #6b946b;
	border-left: 1px solid #6b946b;
	border-right: none;
	border-bottom: none;
	background-color: #9cc694;
}

.evi_icon {
	width: 70px;
	min-width: 70px;
	height: 70px;
	background-color: #7b7b7b;
	outline: 2px ridge #fff;
	outline-offset: -2px;
	margin-right: 2px;
}

#client_menu {
	background-color: #5a5a5a;
	overflow-y: auto;
	height: 100%;
}

@keyframes shutter-effect {
    0% { background-position: 0 0; }
    100% { background-position: 0 4px; }
}

#client_menu:after {
	position: absolute;
	content: "";
	pointer-events: none;
	background: repeating-linear-gradient(transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 4px);
	animation: shutter-effect 0.15s linear infinite;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#client_iccontrols {
	width: 100%;
	background: repeating-linear-gradient(transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 4px);
	animation: shutter-effect 0.15s linear infinite;
}

.menu_content {
	background-color: #847342;
	border: #735a42 solid 1px;
}

.menu_text {
	color: #7b2900;
	background-color: #f7f7f7;
	border: 1px solid #bd9484;
	border-radius: 3px;
	padding: 0 4px;
}

.menu_icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: #631818;
	border: 2px ridge #dec6bd;
	border-radius: 2px;
	margin-bottom: 2px;
}

.client_button {
	min-width: 6em;
	margin: 1px;
	padding: 6px 2px;
	clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #7b2900;
	text-shadow: 0 0 4px #000;
	border: #000 solid 1px;
}

#client_log {
	color: white;
	background: repeating-linear-gradient(black, black 3px, #181818 3px, #181818 4px);
	animation: shutter-effect 0.15s linear infinite;
}

.lm_tab {
	color: white;
	background-color: #7b3100;
	text-shadow: 0 0 1px #632100;
	border-color: #424242;
}

.lm_tab.lm_active {
	color: white;
	background-color: #efa521;
	text-shadow: 0 0 1px #ce8421;
	border-color: #b5b5b5;
}

#client_defense_hp {
	text-align: left;
}

#client_defense_hp>.health-bar {
	background-color: #0000bd;
	border-color: #8484ff transparent #00009c transparent;
}

#client_prosecutor_hp {
	text-align: right;
}

#client_prosecutor_hp>.health-bar {
	background-color: #bd0000;
	border-color: #ff8484 transparent #9c0000 transparent;
}

.health-box {
	background-color: #292929;
	height: 18px;
	width: 50%;
	margin: 0 auto;
	border: ridge 2px #dedede;
	border-radius: 2px;
	box-sizing: border-box;
	display: block;
}

.health-bar {
	width: 100%;
	height: 60%;
	height: calc(100% - 4px);
	bottom: 0;
	border-width: 2px;
	border-style: groove none ridge none;
	position: relative;
	display: inline-block;
	transition: 1s linear;
	transition-property: width;
}