body {
	font-family: "Ace Attorney", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Osaka", "MS Gothic", "ＭＳ Ｐゴシック", "Tahoma", Sans;
}

img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.text_white {
	color: #fff;
}

.text_blue {
	color: #6bc6f7;
}

.text_green {
	color: #00f700;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #f77339;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_rainbow {
	background-color: #fff;
	background-image: repeating-linear-gradient(to right,
			red 0% 8%, orange 8% 16%, yellow 16% 24%, green 24% 32%, blue 32% 40%,
			red 40% 48%, orange 48% 56%, yellow 56% 64%, green 64% 72%, blue 72% 80%,
			red 80% 88%, orange 88% 96%, yellow 96% 100%);
	background-size: 40% 40%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow 4s linear infinite;
}

@keyframes rainbow_alt {

	0%,
	100% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 400% 0;
	}
}

#client_chatcontainer {
	filter: none;
}

#client_name {
	display: none;
	padding: 0 0.45em;
	height: 5.2%;
	min-width: 3.25em;
	text-justify: distribute;
	letter-spacing: 0.075em;
	background: rgba(56, 56, 163, 0.5);
	box-shadow: 0.075em 0.075em rgba(0, 56, 163, 0.5) inset;
	left: 0;
	top: 60.4%;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: ridge groove groove ridge;
	border-width: 0.2em;
	border-radius: 0.2em;
	position: absolute;
	z-index: 1;
}

#client_chat {
	font-size: 1em;
	display: none;
	width: 98.4375%;
	width: calc(100% - 0.275em);
	margin: auto;
	height: 31.25%;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: ridge groove groove ridge;
	border-width: 0.15em;
	border-radius: 0.3em;
	background-color: rgba(0, 0, 16, 0.5);
	top: 66.5%;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_chat p {
	padding: 1% 3.13%;
	margin: 1px;
	line-height: 97%;
}

#client_chatwaiting {
	display: block;
	right: -6px;
	bottom: 0.24em;
	width: 1em;
	position: absolute;
	animation: idling 0.4s linear infinite;
}

@keyframes idling {
	0% {
		right: -4px;
	}

	50% {
		right: -8px;
	}

	100% {
		right: -4px;
	}
}

#evi_name {
	background-color: #393939;
	color: #ffad18;
}

#evi_desc {
	flex: 1 auto;
	background-color: #9cc694;
}

#client_menu {
	background-color: #5a5a5a;
	overflow-y: auto;
	height: 100%;
}

@keyframes shutter-effect {
    0% { background-position: 0 0; }
    100% { background-position: 0 4px; }
}

#client_menu:after {
	position: absolute;
	content: "";
	pointer-events: none;
	background: repeating-linear-gradient(transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 4px);
	animation: shutter-effect 0.15s linear infinite;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#client_iccontrols {
	width: 100%;
	background: repeating-linear-gradient(transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.2) 4px);
	animation: shutter-effect 0.15s linear infinite;
}

.menu_content {
	background-color: #847342;
	border: #735a42 solid 1px;
}

.menu_text {
	color: #7b2900;
	background-color: #f7f7f7;
	border: 1px solid #bd9484;
	border-radius: 3px;
	padding: 0 4px;
}

.menu_icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: #631818;
	border: 2px ridge #dec6bd;
	border-radius: 2px;
	margin-bottom: 2px;
}

.client_button {
	min-width: 6em;
	margin: 1px;
	padding: 6px 2px;
	clip-path: polygon(75% 0, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 0);
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #7b2900;
	text-shadow: 0 0 4px #000;
	border: #000 solid 1px;
}

#client_log {
	color: white;
	background: repeating-linear-gradient(black, black 3px, #181818 3px, #181818 4px);
}

.lm_tab {
	color: white;
	background-color: #7b3100;
	text-shadow: 0 0 1px #632100;
	border-color: #424242;
}

.lm_tab.lm_active {
	color: white;
	background-color: #efa521;
	text-shadow: 0 0 1px #ce8421;
	border-color: #b5b5b5;
}