body {
	font-family: monospace;
}

img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

@keyframes bg-scrolling {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 5px 5px;
	}
}

@keyframes idling {
	0% {
		right: -4px;
	}

	50% {
		right: -8px;
	}

	100% {
		right: -4px;
	}
}

#evi_name {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFElEQVQImWNgYGDYjAVTV/A/w2YAfxQSe53wkNkAAAAASUVORK5CYII=) repeat;
	animation: bg-scrolling 0.2s infinite linear;
}

#evi_desc {
	flex: 1 auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFElEQVQImWNgYGDYjAVTV/A/w2YAfxQSe53wkNkAAAAASUVORK5CYII=) repeat;
	animation: bg-scrolling 0.2s infinite linear;
}

.evi_icon {
	width: 70px;
	min-width: 70px;
	height: 70px;
	background-color: #7b7b7b;
	outline: 2px ridge #fff;
	outline-offset: -2px;
	margin-right: 2px;
}

#client_menu {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFElEQVQImWNgYGDYjAVTV/A/w2YAfxQSe53wkNkAAAAASUVORK5CYII=) repeat;
	animation: bg-scrolling 0.2s infinite linear;
	overflow-y: auto;
	height: 100%;
}

@keyframes shutter-effect {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 4px;
	}
}

#client_iccontrols {
	width: 100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFElEQVQImWNgYGDYjAVTV/A/w2YAfxQSe53wkNkAAAAASUVORK5CYII=) repeat;
	animation: bg-scrolling 0.2s infinite linear;
}

.menu_text {
	color: #7b2900;
	background-color: #f7f7f7;
	border-radius: 3px;
	padding: 0 4px;
}

.menu_icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: black;
	border: 2px ridge green;
	border-radius: 2px;
	margin-bottom: 2px;
}

.client_button {
	min-width: 6em;
	margin: 1px;
	padding: 6px 2px;
	cursor: pointer;
	text-align: center;
	color: green;
	background-color: #000;
	border: green solid 1px;
}

#client_log {
	color: white;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAFElEQVQImWNgYGDYjAVTV/A/w2YAfxQSe53wkNkAAAAASUVORK5CYII=) repeat;
	animation: bg-scrolling 0.2s infinite linear;
}

#client_defense_hp {
	text-align: left;
}

#client_prosecutor_hp {
	text-align: right;
}

.health-box {
	background-color: #292929;
	height: 18px;
	width: 50%;
	margin: 0 auto;
	border: ridge 2px #dedede;
	border-radius: 2px;
	box-sizing: border-box;
	display: block;
}

.health-bar {
	width: 100%;
	height: 60%;
	height: calc(100% - 4px);
	bottom: 0;
	border-width: 2px;
	border-style: groove none ridge none;
	position: relative;
	display: inline-block;
	transition: 1s linear;
	transition-property: width;
	background-color: #00b800;
	border-color: #84ff84 transparent #009c00 transparent;
}
