.button {
	padding: 5px;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	background: repeating-linear-gradient(#792c01, #792c01 3px, #9a491c 3px, #9a491c 4px);
	border: 1px solid #553e30;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #FFFFFF;
	color: white;
	text-align: center;
	text-shadow:
		0px -1px 0 #612000,
		1px 0px 0 #612000,
		-1px 0px 0 #612000,
		0px 1px 0 #612000;
	padding: 11px;
	font-family: Times New Roman, sans;
	font-weight: normal;
}

.button:hover {
	background: repeating-linear-gradient(#a57318, #a57318 3px, #c68c39 3px, #c68c39 4px);
	border: 1px solid #bdb521;
}

#menu .chosen:before {
	height: 200px;
	width: 200px;
	border-color: #bdb521;
	border-width: 11px;
	padding: 1px;
}

#info_container {
	display: block;
	font-size: 0.8em;
}

#masterchat {
	width: 100%;
	height: 200px;
	font-size: inherit;
	background-color: darkgrey;
	color: black;
}

#serverdescription_container {
	display: block;
	top: 100px;
	position: fixed;
	right: 0;
	width: 185px;
	height: 276px;
	padding: 0px;
	background: url("../desc.png") no-repeat;
	border: 2px solid #888;
	border-radius: 5px;
}

#serverdescription_content {
	width: 180px;
	height: 270px;
	position: relative;
	color: white;
	white-space: pre-line;
	word-wrap: break-word;
	text-align: center;
	margin: 2px;
	overflow-x: visible;
	overflow-y: auto;
}

#serverlist_container {
	margin-right: 200px;
}

.serverlist {
	display: block;
	margin: auto;
}

.serverlist li {
	position: relative;
	right: 0;
	background-color: #FFF;
	border: 2px solid #BBB;
	border-radius: 5px;
	padding: 0px;
	padding-left: 10px;
	display: block;
	min-width: 400px;
	height: 50px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: default;
}

.serverlist li:hover {
	background-color: #FFFF6B;
	border-color: #EFAD21;
}

.serverlist li p {
	display: inline-block !important;
}

.serverlist li a {
	float: right;
}

#serverlist_container h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.serverlist .button {
	position: relative;
	top: 0px;
	right: -2px;
	height: 38px;
	padding: 0px;
	padding-top: 10px;
	border-radius: 0px 5px 5px 0px;
	width: 50px;
	box-shadow: 0 0 0 2px #BBB;
}

.serverlist .available {
	background-color: #6BFF6B;
	border-color: #21AD21;
}

.serverlist .unavailable {
	background-color: #ff6b6B;
	border-color: #ad2121;
}

.serverlist .button:hover {
	box-shadow: 0 0 0 1px #EFAD21;
}

.error {
	color: orangered;
}

ul.navbar-nav.ml-auto {
	display: inline-flex;
	list-style-type: none;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
	background: black;
}

body {
	margin: 0px;
}

/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}

.navbar {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link {
	margin-right: 25px;
	color: white !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 229, 145, .75) !important;
	opacity: 100 !important;
}

body {
	background: #2c3d51;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

.page-heading {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-top: 5px;
	text-align: center;
}

hr.gold {
	border-top: 10px solid #f3b137;
	width: 250px;
}

.about {
	text-align: center;
}

.card-body {
	background-color: #473322;
	font-family: 'Roboto Condensed', sans-serif;
}

.card-header {
	background-color: #2f2216;
	border-bottom: 1px solid #ffe591;
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 0px !important;
}

.card-header a {
	color: #ffe591 !important;
}

.card {
	border: 1px solid #ffe591;
	border-radius: 0px !important;
}

@media (max-width:411px) {
	.top-bois {
		display: none !important;
	}
}

.top-bois {
	display: inline-table;
	width: 100%;
}

.carousel-item {
	height: 90vh;
	background-size: contain;
}

.carousel-inner {
	background-color: #2c3d51;
}

@media (max-width:980px) {
	.carousel-item {
		background-size: cover;
	}
}

h1 {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
}

a {
	color: #ffe591 !important;
}

@media (max-width:576px) {
	.borderbox {
		padding: 0px 20px 0px 20px;
	}
}

.inside-carousel {
	position: relative;
}

.button-carousel,
.tagline-carousel {
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: auto;
	text-align: center;
}

.button-carousel {
	background-color: #2f2216;
	max-width: 200px;
	padding: 30px;
	border: 2px solid #ffe591;
	color: white !important;
	border-radius: 15px;
}

.button-carousel p {
	margin-top: -17px;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 24px;
}

.download-button h4 {
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.button-carousel a,
.download-button a {
	color: white !important;
}

.download-button {
	background-color: #2f2216;
	max-width: 400px;
	padding: 10px;
	text-align: center;
	border: 2px solid #ffe591;
	color: white !important;
	border-radius: 15px;
	margin: 0 auto;
}

.card {
	background-color: #2c3d51;
	;
}

.download-box strong {
	color: #ffe591;
}

.download-box a,
.download-button a,
.links a,
.card a {
	text-decoration: underline;
}

.acc {
	text-decoration: none !important;
}

a:hover {
	opacity: 0.8;
}

.navbar .container {
	text-align: center;
}

a.nav-link {
	text-decoration: none !important;
}

ul.serverlist p {
	color: black;
}

a.nav-link {
	padding: 8px;
}

ul.navbar-nav.ml-auto {
	margin-top: 19px;
	padding: 0;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
	height: 65px;
}