body {
	font-family: "FOTK-Yoon Mincho 740", serif;
}

.client_button {
	margin: 1px;
	padding: 2px 15px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #2781b2;
	border: 2px solid white;
}

.client_button:hover {
	outline: 1px solid #ffc31d;
	outline-offset: 7px;
}

.client_button:active {
	background-color: #f2b91c;
}

#client_defense_hp {
	text-align: left;
}

#client_defense_hp>.health-bar {
	background-color: #169de0;
}

#client_prosecutor_hp {
	text-align: right;
}

#client_prosecutor_hp>.health-bar {
	background-color: #e01f5f;
}

.health-box {
	background-color: #555;
	height: 20px;
	width: 50%;
	margin: 0 auto;
	border: solid 2px #aaa;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
}

.health-bar {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	bottom: 0;
	position: relative;
	display: inline-block;
	transition: 1s linear;
	transition-property: width;
}

#client_menu {
	background-image: url("trilogy_bg.png");
	background-repeat: repeat;
}

#client_iccontrols {
	background-image: url("trilogy_bg.png");
	background-repeat: repeat;
}

.evi_icon {
	background-color: #bebfbc;
	border: 0.1em solid #f8f5f2;
	outline: 0.2em solid #2988bc;
	outline-offset: -0.2em;
}
