.text_white {
	color: #fff;
}

.text_blue {
	color: #6bc6f7;
}

.text_green {
	color: #00f700;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #f77339;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

/* Webfont CSS setup for Igiari by Caveras */

@font-face {
	font-family:'Igiari Cyrillic';
		src: url('../igiari/igiari-cyrillic.ttf');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Ace Name';
		src: url('./ace-name.ttf');
	font-weight:normal;
	font-style:normal;
}

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40%;
	width: 100%;
	filter: none;
}

#client_name {
	display: block;
	position: absolute;
	left: 0;
	top: 1%;
	height: 13%;
	min-width: 3.25em;	
	font-size: 0.8em;
	background: rgba(60, 85, 255, 0.4);
	box-shadow: 0.075em 0.075em rgba(0, 56, 163, 0.5) inset;
	margin: 0;
	padding-top: 0.4%;
	padding-left: 1.955%;
	padding-right: 1.955%;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: ridge groove groove ridge;
	border-width: 0.2em;
	border-radius: 0.3em;	
	z-index: 1;
	font-family: "Ace Name", "Igiari Cyrillic", "MS PGothic", "MS UI Gothic", "MS Sans Serif", "Hiragino Maru Gothic Pro", "Mitra Mono", "Mukti Narrow", "Meera", "Khmer OS", "FreeSans", "Gargi", sans-serif;
}

#client_inner_name {
	text-justify: distribute;
	line-height: 100%;
	margin: 0;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98%;
	width: calc(100% - 0.25em);
	height: 78%;
	margin: auto;
	border-color: rgba(255, 255, 255, 0.6);
	border-style: ridge groove groove ridge;
	border-width: 0.15em;
	border-radius: 0.15em;
	background-color: rgba(0, 0, 16, 0.55);
	font-size: 1.6em;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
	font-family: "Igiari Cyrillic", "MS PGothic", "MS UI Gothic", "MS Sans Serif", "Hiragino Maru Gothic Pro", "Mitra Mono", "Mukti Narrow", "Meera", "Khmer OS", "FreeSans", "Gargi", sans-serif;
}

#client_inner_chat {
	padding: 0.4% 2.8%;
	margin: 1px;
	line-height: 100%;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	right: 2%;
	bottom: 15%;
	line-height: 0.5;
	animation: idling 0.4s linear infinite;
}

@keyframes idling {
	0% {
		right: 0;
	}

	50% {
		right: 2%;
	}

	100% {
		right: 0;
	}
}
