.text_white {
	color: #fff;
}

.text_blue {
	color: #6bc6f7;
}

.text_green {
	color: #00f700;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #f77339;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

@font-face {
	font-family:'Igiari Cyrillic';
		src: url('../igiari/igiari-cyrillic.ttf');
	font-weight:normal;
	font-style:normal;
}

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40%;
	width: 100%;
	filter: none;
	font-family: "Igiari Cyrillic", "MS PGothic", "MS UI Gothic", "MS Sans Serif", "Hiragino Maru Gothic Pro", "Mitra Mono", "Mukti Narrow", "Meera", "Khmer OS", "FreeSans", "Gargi", sans-serif;
}

#client_name {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 15%;
	min-width: 3.25em;	
	background: linear-gradient(to bottom, #1e6169, #0f2f32);
	padding: 0 2%;
	border-color: #217aff;
	border-style: ridge groove groove ridge;
	border-width: 0.2em;
	border-radius: 0.2em;	
	z-index: 1;
}

#client_inner_name {
	text-justify: distribute;
	letter-spacing: 0.075em;
	margin: 0;
	font-weight: bold;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98%;
	width: calc(100% - 0.27em);
	height: 78%;
	margin: auto;
	border-color: #59f0fc;
	border-style: ridge groove groove ridge;
	border-width: 0.15em;
	border-radius: 0.3em;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,137,0.7));
	font-size: 2em;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 3.13%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	right: 2%;
	bottom: 15%;
	line-height: 0.5;
	animation: idling 0.4s linear infinite;
}

@keyframes idling {
	0% {
		right: 0;
	}

	50% {
		right: 2%;
	}

	100% {
		right: 0;
	}
}

#client_trackstatus {
	display: none;
}