.text_white {
	color: #fff;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
    font-family: sans-serif;
}

#client_name {
	display: block;
	padding: 0 0.45em;
	height: 22%;
	height: calc(25% - 0.1em);
	min-width: 50%;
	text-align: left;
	letter-spacing: 0.075em;
	font-weight: bold;
	background: #ff00bb;
	background: linear-gradient(225deg, transparent 10%,
			rgba(255,75,206,0.9) 10% 15%, rgba(255, 0, 187, 0.9) 15% 16%, 
			rgba(255,75,206,0.9) 16% 20%, rgba(255, 0, 187, 0.9) 20% 22%,
			rgba(255,75,206,0.9) 22% 25%, rgba(255, 0, 187, 0.9) 25% 28%,
			rgba(255,75,206,0.9) 28% 30%, rgba(255, 0, 187, 0.9) 30% 32%,
			rgba(255,75,206,0.9) 32% 33%, rgba(255, 0, 187, 0.9) 33%);
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

#client_inner_name {
	padding: 1% 3.13%;
	margin: 1px;
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 100%;
	margin: auto;
	height: 75%;
    border-top: 0.1em solid #ff00ab;
    border-bottom: 0.1em solid #e9019e;
	background-image: linear-gradient(rgba(33,18,28,0.75),rgba(45,18,36,0.75));
	bottom: 0;
	left: 0;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 3.13%;
	margin: 0;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: none;
}

#client_trackstatus {
	display: none;
}

#client_clock {
	display: none;
}