.text_white {
	color: #fff;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
    font-family: sans-serif;
}

#client_name {
    display: block;
    transform: skew(15deg);
	padding: 0 0.45em;
	height: 20%;
	min-width: 20%;
	text-align: left;
    background: #0e0a02;
    border-left: 0.6em solid #fdd300;
	left: 1%;
	top: 0;
	position: absolute;
	z-index: 1;
}

#client_inner_name {
    transform: skew(-15deg);
	margin: 1px;
}

#client_chat {
    transform: skew(15deg);
	font-size: 1em;
	display: block;
	width: 89%;
	margin: auto;
	height: 80%;
    border-left: 0.6em solid #fdd300;
    border-right: 0.6em solid #fdd300;
	background: #030303;
	bottom: 0;
	left: 4%;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
    transform: skew(-15deg);
	padding: 3% 5%;
	margin: 1px;
	line-height: 97%;
	letter-spacing: 0.05em;
	word-spacing: 0.3em;
}

#client_chatwaiting {
	display: none;
}

#client_trackstatus {
	position: absolute;
	top: 0;
	left: 0;
	height: 10%;
	background-image: url('drv3trackstatus.png');
	background-size: contain;
    background-repeat: no-repeat;
}

#client_trackstatustext {
	position: absolute;
	left: 0;
	top: 10%;
	background-image: url('drv3trackstatustext.png');
	background-size: contain;
    background-repeat: no-repeat;
}