.text_white {
	color: #fff;
}

.text_blue {
	color: #667dce;
}

.text_green {
	color: #a8cf78;
}

.text_red {
	color: #cb223f;
}

.text_orange {
	color: #f77339;
}

.text_yellow {
	color: #f9cf39;
}

.text_pink {
	color: #eb217f;
}

.text_cyan {
	color: #50d3ce;
}

.text_grey {
	color: #bbb;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	src: url(https://fonts.gstatic.com/s/inconsolata/v19/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40%;
	width: 100%;
	filter: none;
	font-family: 'Inconsolata', monospace;
}

#client_name {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 20%;
	min-width: 25%;	
	background: #2a263f;
    border-color: #6a667f;
    border-style: solid;
	border-width: 0.05em 0.1em;
	border-radius: 0.05em;	
	z-index: 1;
}

#client_inner_name {
	text-justify: distribute;
    background: #000;
    border-color: #191626;
    border-style: solid;
	border-width: 0.05em 0.1em;
	border-radius: 0.05em;	
	margin: 0.1em 0.2em;
	font-weight: bold;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98%;
	width: calc(100% - 0.2em);
	height: 80%;
	margin: auto;
	border-color: #6a667f;
    border-style: solid;
	border-width: 0.05em 0.1em;
	border-radius: 0.05em;	
	background: #2a263f;
	font-size: 1.5em;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 3.13%;
	margin: 0.1em 0.2em;
    line-height: 97%;
    height: 83%;
	background: #000;
    border-color: #191626;
    border-style: solid;
	border-width: 0.05em 0.1em;
	border-radius: 0.05em;	
}

#client_chatwaiting {
	display: block;
	transform: rotate(90deg);
	position: absolute;
	right: 2%;
	bottom: 15%;
	line-height: 0.5;
	animation: idling 1s steps(1) infinite;
}

@keyframes idling {
	0%,100% {
		color: #000;
	}

	50% {
		color: #fff;
	}
}

#client_trackstatus {
	display: none;
}

#client_clock {
	display: none;
}