.text_white {
	color: #000;
}

.text_blue {
	color: #0000EE;
}

.text_green {
	color: #38f43d;
}

.text_red {
	color: #ff0101;
}

.text_orange {
	color: #d6954b;
}

.text_yellow {
	color: #feef25;
}

.text_pink {
	color: #ff067c;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 25%;
	width: 100%;
	color: #000000;
    font-family: "courier-std", courier, monospace;
    font-weight: bold;
    overflow-wrap: break-word;
}

#client_name {
    display: none;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: auto;
	height: 100%;
	background-color: #EFEFEF;
}

#client_inner_chat {
    line-height: 1.35;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	left: 2%;
	bottom: 2%;
}

#client_trackstatus {
	display: none;
}