.text_white {
	color: #50545c;
}

.text_blue {
	color: #6bc6f7;
}

.text_green {
	color: #00f700;
}

.text_red {
	color: #f00;
}

.text_orange {
	color: #5c1d1b;
}

.text_yellow {
	color: #ff0;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	display: block;
	position: absolute;
	bottom: 0;
	left: 1%;
	height: 30%;
	width: 97%;
	width: calc(98% - 0.3em);
	border-color: #d9e2f9;
	border-style: solid;
	border-width: 0.15em;
	border-radius: 75% / 25%;
	background-color: #aaaeb4;
	font-family: sans-serif;
}

#client_name {
	display: block;
	position: absolute;
	left: 3%;
	top: 9%;
	height: 15%;
	color: #5c1d1b;
	z-index: 1;
}

#client_inner_name {
	text-justify: distribute;
	margin: 0;
	font-weight: bold;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 6%;
	left: 2%;
	width: 96%;
	height: 68%;
	margin: 0;
	font-size: 1.5em;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding-left: 3%;
	padding-right: 8%;
	margin: 0;
	line-height: 97%;
}

#client_chatwaiting {
    display: block;
    transform: rotate(90deg);
	position: absolute;
	right: 2%;
	bottom: 0.5em;
	line-height: 0.5;
	color: #6a6c72;
	animation: appear_down 0.5s linear;
}

@keyframes appear_down {
	0% {
        bottom: 5em;
        opacity: 0;
	}

	100% {
        bottom: 0.5em;
        opacity: 1;
	}
}

#client_trackstatus {
	display: none;
}