.text_white {
	color: #2b2b23;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #ae0d05;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
    font-family: "FOT-PopJoy Std", "Comic Sans", sans-serif;
}

#client_name {
	display: none
}

#client_chat {
	font-size: 1em;
	display: block;
	width: 94%;
	margin: auto;
    height: 100%;
    border: 0.1em outset #fff;
    border-radius: 100em;
	background: #deded6;
	bottom: 0;
	left: 3%;
	position: absolute;
	word-break: keep-all;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 10%;
	margin: 0;
	line-height: 130%;
}

#client_chatwaiting {
    display: none;
    position: absolute;
	right: 4%;
	bottom: 10%;
	line-height: 0.5;
    color: #dece52;
	animation: idling 0.5s ease-in-out infinite alternate;
}

@keyframes idling {
	from {
		transform: rotate(-20deg);
	}

	to {
		transform: rotate(20deg);
	}
}

#client_trackstatus {
	display: none;
}