.text_white {
	color: #fff;
}

.text_blue {
	color: #18cbef;
}

.text_green {
	color: #84fb08;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #f76918;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	top: 0;
    left: 0;
	height: 100%;
    width: 100%;
    font-family: sans-serif;
	background: rgba(0,0,0,0.25);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition-property: opacity;
}

#client_name {
	display: none;
}

#client_chat {	
    position: absolute;
	display: block;
    top: 5%;
    left: 5%;
	width: 90%;
	height: 90%;
	margin: auto;
	font-size: 1em;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 0;
	margin: 0;
}

#client_chatwaiting {
	display: block;
    position: relative;
	left: 0;
	top: 0;
	width: 1em;	
    height: 1em;	
    color: transparent;
	text-shadow: none;
    image-rendering: crisp-edges;
	image-rendering: pixelated;
    background-image: url("chatwaiting_whentheycry.png");
	background-size: contain;
	animation: idling 1s steps(2) alternate infinite;
}

@keyframes idling {
	0% {
		left: 0;
        top: 0;
	}

	50% {
		left: 0.1em;
        top: 0.2em;
	}

	100% {
		left: 0.2em;
        top: 0;
	}
}

#client_trackstatus {
	display: none;
}