.text_white {
	color: #fff;
}

.text_blue {
	color: #93bbe6;
}

.text_green {
	color: #6ab057;
}

.text_red {
	color: #e1522a;
}

.text_orange {
	color: #cf714c;
}

.text_yellow {
	color: #fef9ad;
}

.text_pink {
	color: #ffc0cb;
}

.text_cyan {
	color: #0ff;
}

.text_grey {
	color: #bbb;
}

#client_chatcontainer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 100%;
	filter: none;
	font-family: "DejaVu Sans Mono", "BIZ UDGothic", "Consolas", sans-serif;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#client_name {
	display: block;
	position: absolute;
	top: 0;
	left: 0;	
	height: 27%;
	height: calc(30% - 6px);
	min-width: 10%;
	background-color: rgba(0, 0, 0, 0.5);	
    border-style: double;
	border-color: #ffa500;
	padding: 0 2%;
	z-index: 1;
}

#client_inner_name {
	line-height: 1em;
	color: #fef9ad;
}

#client_chat {
	display: block;
	position: absolute;
	bottom: 0;
	width: 99%;
	width: calc(100% - 6px);
	margin: auto;
	height: 70%;
	height: calc(70% - 6px);
	border-style: double;
    border-color: #ffa500;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-wrap: break-word;
	text-align: left;
	overflow: hidden;
	scroll-behavior: smooth;
}

#client_inner_chat {
	padding: 1% 3.13%;
	margin: 1px;
	font-size: 1.3em;
}

#client_chatwaiting {
	display: block;
	position: absolute;
	transform: rotate(90deg);
	left: 50%;
	bottom: 0px;	
	line-height: 0.5;
	animation: idling 1s linear infinite;
}

@keyframes idling {
	0% {
		bottom: 2px;
	}

	50% {
		bottom: 0px;
	}

	100% {
		bottom: 2px;
	}
}

#client_trackstatus {
	display: none;
}