body {
	font-family: sans-serif;
}

.evi_icon {
	width: 70px;
	min-width: 70px;
	height: 70px;
	background-color: #848284;
	outline: 2px ridge #fff;
	border: 1px solid #181818;
	outline-offset: -2px;
	margin-right: 2px;
}

#evi_name {
	color: #e7e3c6;
	background-color: #293431;
}

#evi_desc {
	flex: 1 auto;
	background: repeating-linear-gradient(#84ae8c, #84ae8c 14px, #4a6952 14px, #4a6952 15px);
}

.client_button {
	margin: 1px;
	padding: 2px 15px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: linear-gradient(to bottom, #6b3c10, #422008);
	border: 1px solid #211408;
	outline: 1px solid #846129;
	outline-offset: -1px;
}

#client_log {
	position: relative;
	height: 100%;
	color: #fff;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow-y: auto;
	font-size: medium;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: start;
	line-height: .85em;
}

#client_log>p {
	line-height: 1.1em;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid #000;
}

.iclog_name {
	font-weight: initial;
	padding-right: .35em;
	text-shadow:
		0 0 3px #39307b,
		-1px -1px 0 #39307b,
		1px -1px 0 #39307b,
		-1px 1px 0 #39307b,
		1px 1px 0 #39307b;
}

.iclog_text::before {
	content: "\A";
	white-space: pre;
}

.iclog_time {
	float: right;
	padding-right: .5em;
	color: #dbdbdb;
}

#client_defense_hp {
	text-align: left;
}

#client_defense_hp>.health-bar {
	background-color: #169de0;
}

#client_prosecutor_hp {
	text-align: right;
}

#client_prosecutor_hp>.health-bar {
	background-color: #e01f5f;
}

.health-box {
	background-color: #555;
	height: 20px;
	width: 50%;
	margin: 0 auto;
	border: solid 2px #aaa;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
}

.health-bar {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	bottom: 0;
	position: relative;
	display: inline-block;
	transition: 1s linear;
	transition-property: width;
}
