body {
	font-family: sans-serif;
}

div * {
	font-family: "Comic Sans MS" , Sans-Serif !important;
}

img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

img {
	animation: drunk 500s linear infinite;
}

#client_chatcontainer {
	animation: drunk 1000s ease-in-out infinite;
}

button:hover {
	animation: speen 2s linear reverse infinite;
}

.area-button:hover {
	animation: speen 2s linear infinite;
}

.menu_button {
	animation: speen 2s linear infinite;
}

@keyframes drunk {
	0% {
		transform: rotate(0);
	}

	20% {
		transform: rotate(20deg);
	}

	80% {
		transform: rotate(-20deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes speen {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.client_button {
	margin: 1px;
	padding: 2px 15px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #7b2900;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	box-shadow: 1px 1px inset;
}

.objection_button {
	margin: 1px;
	padding: 7px 15px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #7b2900;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	box-shadow: 1px 1px inset;
}

.evi_icon {
	width: 70px;
	min-width: 70px;
	height: 70px;
	background-color: #7b7b7b;
	outline: 2px ridge #fff;
	outline-offset: -2px;
	margin-right: 2px;
}

#client_defense_hp {
	text-align: left;
}

#client_defense_hp>.health-bar {
	background-color: #169de0;
}

#client_prosecutor_hp {
	text-align: right;
}

#client_prosecutor_hp>.health-bar {
	background-color: #e01f5f;
}

.health-box {
	background-color: #555;
	height: 20px;
	width: 50%;
	margin: 0 auto;
	border: solid 2px #aaa;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
}

.health-bar {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	bottom: 0;
	position: relative;
	display: inline-block;
	transition: 1s linear;
	transition-property: width;
}